.booking-form {
  width: min-content;
  height: 150px;
  background: rgba(49, 63, 56, 0.48);
  backdrop-filter: blur(20px);
  z-index: 10;

  @include lg {
    height: 125px;
  }

  @include md {
    height: 100px;
  }

  &.mobile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: none;
    backdrop-filter: blur(5px);

    @keyframes animation-form-open {
      from {
        transform: translateY(100px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes animation-form-close {
      from {
        transform: translateY(0);
        opacity: 1;
      }
      to {
        transform: translateY(100px);
        opacity: 0;
      }
    }

    &.close {
      animation: 1000ms linear animation-form-close;
    }

    &.open {
      animation: 1000ms linear animation-form-open;
    }
  }

  &.touch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background: none;
    border: 1px solid var(--primary-color-100);
    opacity: 1;

    @include lg {
      height: 120px;
    }

    @include md {
      height: 100px;
    }
  }

  &.hero_rooms{
    position: absolute;
    top: 0;
    right:0; 
    background: rgba(49, 63, 56, 0.28);
    backdrop-filter: blur(5px); 

    @keyframes animation-form-open {
      from {
        transform: translateY(100px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes animation-form-close {
      from {
        transform: translateY(0);
        opacity: 1;
      }
      to {
        transform: translateY(100px);
        opacity: 0;
      }
    }

    &.close {
      animation: 1000ms linear animation-form-close;
    }

    &.open {
      animation: 1000ms linear animation-form-open;
    }

    & .form__btn-submit {

      @include lg {
        width: 252px;
      }
    }

  }

  & .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.mobile {
      flex-direction: column;

      & .first-select::before {
        display: none;
      }
    }

    &__select-container {
      position: relative;

      &:hover [class$="select-dropdown"] {
        scale: 1.2;
      }

      &.mobile {
        width: 100%;
        border-bottom: 1px solid var(--white-48);
      }

      &.touch {
        &.first-select::before {
          background-color: var(--primary-color-24);
          height: 60px;

          @include md {
            height: 35px;
          }
        }
      }

      &.first-select::before {
        content: "";
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translateY(50%);
        width: 1px;
        height: 64px;
        background-color: var(--white-24);
      }
    }

    &__btn-submit {
      width: 370px;
      height: 150px;
      // color: var(--text-color-100);
      text-transform: uppercase;

      @include btn-state-changes($svg: no);

      @include lg {
        height: 125px;
      }

      @include md {
        width: 248px;
        height: 100px;

        font-size: 14px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
      }

      &.mobile {
        display: none;
      }

      &.touch {
        width: 285px;
        height: 140px;
        background: var(--primary-color-100);
        font-size: 18px;
        line-height: 1.1;

        @include lg {
          width: 217px;
          height: 120px;
        }

        @include md {
          width: 214px;
          height: 100px;
          font-size: 14px;
          line-height: 1.4;
        }

        @include btn-state-changes(
          var(--primary-color-100),
          var(--button-dark-color-hover),
          var(--button-dark-color-active),
          var(--button-dark-color-disabled),
          var(--white-100),
          $svg: no
        ) {
          color: var(--white-100);
        }
      }
    }
  }
}
