.btnPoly {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: min-content;
  border: none;

  & .arrow50 {
    @include arrow-position {
    }
  }

  & .arrow75 {
    @include arrow-position {
      top: 75%;
    }
    @include lg {
      width: 9px;
      height: 18px;
    }
  }

  & .arrow-size {
    @include arrow-position {
      width: 168px;
      height: 137px;
    }

    &.open {
      transform: translate(-50%, -50%) rotateZ(90deg);
    }

    &.closed {
      width: 64px;
      height: 40px;
      transform: translate(-50%, -50%) rotateZ(0deg);
      color: var(--primary-color-100);
    }
  }

  &.rooms {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;

    &:hover {
      @include transition-standart;
      color: var(--text);
    }

    & .polygon {
      transform: rotateZ(18deg);
    }
    & .arrow50 {
      @include arrow-position {
        width: 47px;
        height: 25px;
      }
    }
  }

  &.booking {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 200px;
    height: 200px;
    color: #fcd043;

    // & .polygon {
    // }

    @include sm {
      width: 120px;
      height: 120px;
    }

    &.intouch {
      left: 0;
      bottom: -38px;
    }

    @include btn-state-changes($svg: yes);

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 20px;
      font-style: italic;
      line-height: normal;
      color: var(--text);

      @include sm {
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
