.gallery--container {
  padding-top: 300px;
  padding-bottom: 300px;

  @include lg {
    padding-top: 263px;
    padding-bottom: 179px;
  }

  @include md {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include sm {
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .gallery--wrapper {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;

    @include sm {
      justify-content: center;
    }
  }

  .gallery--part__left {
    // margin-right: 190px;

    @include lg {
      // margin-right: 138px;
    }

    @include md {
      // margin-right: 124px;
    }

    .section--introduction {
      max-width: 255px;
      width: 100%;
      margin-bottom: 273px;
      padding-top: 23px;
      font-size: 26px;
      line-height: normal;
      text-transform: uppercase;

      @include lg {
        @include visually-hidden;
      }

      @include md {
        position: static;
        overflow: visible;
        display: block;
        white-space: inherit;
        clip-path: none;
        clip: rect(0 0 0 0);

        max-width: 200px;
        margin-bottom: 204px;
        padding-top: 0;
        font-size: 18px;
      }

      @include sm {
        @include visually-hidden;
      }
    }

    .img--wrapper__nopaddingLeft {
      width: 312px;
      height: 284px;
      margin-left: -32px;
      margin-bottom: 342px;

      @include lg {
        width: 237px;
        height: 228px;
      }

      @include md {
        width: 146px;
        height: 192px;
      }
    }

    .img--wrapper__left {
      width: 285px;
      height: 387px;

      @include lg {
        width: 217px;
        height: 295px;
      }

      @include md {
        width: 126px;
        height: 171px;
      }
    }
  }

  .gallery--part__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 190px;

    @include lg {
      // margin-right: 138px;
    }

    @include md {
      // margin-right: 126px;
    }

    @include sm {
      width: 100%;
    }

    &--label {
      width: 200px;
      height: 180px;
      margin-bottom: 25px;
      transform: rotate(45deg);

      @include lg {
        width: 150px;
        height: 144px;
      }

      @include md {
        width: 70px;
        height: 50px;
        margin-bottom: 30px;
      }

      @include sm {
        width: 50px;
        height: 70px;
        margin-bottom: 21px;
      }
    }

    .gallery--title {
      margin-bottom: 70px;
      font-family: "Miracle regular", sans-serif;
      font-size: 150px;
      line-height: 0.86;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      color: var(--secondary-color-100);

      @include lg {
        width: 749px;
        font-size: 125px;
        line-height: 0.86;
      }

      @include md {
        margin-bottom: 50px;
        font-size: 100px;
        line-height: 0.88;
      }

      @include sm {
        max-width: 338px;
        font-size: 60px;
        line-height: 1;
        text-align: center;
      }
    }

    .gallery--description {
      max-width: 450px;
      width: 100%;
      margin-bottom: 150px;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      text-align: center;

      @include lg {
        margin-bottom: 130px;
      }

      @include md {
        max-width: 350px;
        margin-bottom: 70px;
        font-size: 13px;
        line-height: 1.76;
      }

      @include sm {
        max-width: 354px;
        margin-bottom: 50px;
      }
    }

    .gallery--wrapper__imgInfo {
      @include sm {
        width: 100%;
      }
    }

    .img--wrapper__center {
      width: 916px;
      // height: 600px;
      margin-bottom: 100px;

      @include lg {
        width: 690px;
        // height: 452px;
        margin-bottom: 75px;
      }

      @include md {
        width: 482px;
        // height: 316px;
        margin-bottom: 50px;
      }
    }

    // === MOBILE ===
    .gallery--imgs--wrapper__mobile {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .gallery--part__left--mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 51px;
        padding-top: 76px;

        .img--wrapper__leftUp {
          width: 152px;
          height: 206px;
        }

        .img--wrapper__leftTransp {
          margin-left: -10px;
          width: 161px;
          height: 140px;
        }
      }

      .img--wrapper__center--mobile {
        position: absolute;
        top: 173px;
        right: 25%;
        left: 25%;
        width: 192px;
        height: 250px;
      }

      .gallery--part__right--mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        .img--wrapper__rightUp {
          position: relative;
          width: 123px;
          height: 123px;
          z-index: 1;
        }

        .img--wrapper__rightTransp {
          margin-right: -10px;
          margin-top: -30px;
          width: 182px;
          height: 147px;
        }
      }
    }

    // ==============

    .gallery--info__wrapper {
      display: flex;
      gap: 30px;
      align-self: start;

      @include md {
        gap: 16px;
      }

      .gallery--info__icon {
        width: 50px;
        height: 50px;
        color: var(--secondary-color-100);

        @include md {
          width: 36px;
          height: 36px;
        }
      }

      .gallery--info {
        max-width: 350px;
        width: 100%;
        font-size: 22px;
        font-style: italic;
        line-height: normal;

        @include md {
          max-width: 223px;
          font-size: 16px;
          text-transform: capitalize;
        }
      }
    }
  }

  .gallery--part__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    // width: 100%;

    .img--wrapper__nopaddingRight {
      width: 316px;
      // height: 400px;
      padding-top: 358px;
      margin-right: -30px;
      // margin-bottom: 622px;

      @include lg {
        width: 217px;
        height: 237px;
        padding-top: 297px;
        // margin-bottom: 581px;
        // padding-top: 310px;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
      }

      @include md {
        width: 147px;
        height: 147px;
        padding-top: 293px;
      }
    }
  }

  .img--wrapper__right {
    position: relative;
    width: 443px;
    height: 284px;
    margin-left: auto;
    z-index: 2;

    @include lg {
      width: 335px;
      height: 215px;
    }

    @include md {
      width: 251px;
      height: 161px;
    }
  }

  .ticker--box {
    margin-top: -80px;
    z-index: 1;
  }
}
