.rooms-apartments {
  display: flex;
  flex-direction: column;
  padding: 300px 30px 200px;
  background-color: var(--white-100);
  color: var(--text);

  &__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 200px;
    color: var(--text);
    text-transform: uppercase;

    & .title {
      align-self: start;
      font-family: "Miracle regular", sans-serif;
      font-size: 150px;
      line-height: 130px; /* 86.667% */
    }

    & .descr {
      width: 440px;
      font-size: 26px;
      line-height: normal;
    }
  }

  &__slider-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;

    .slider__list {
      display: flex;
      // margin-left: -1860px;
      transition: transform 0.5s ease-in-out;

      &--item {
        display: flex;

        & .left-container {
          display: flex;

          &__img-wrapper {
            overflow: hidden;
            object-fit: contain;
            width: 285px;
            height: 339px;

            @include lg {
              width: 217px;
              height: 258px;
            }
          }

          & .descr-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 442px;
            margin: 0 188px;

            &__title {
              display: flex;
              align-items: center;
              height: 50px;
              margin-top: 380px;
              font-family: "Miracle regular", sans-serif;
              font-size: 50px;
              font-weight: 400;
              letter-spacing: 1.5px;
              text-transform: capitalize;
              color: var(--text);
            }

            &__descr {
              @include text-opacity-8 {
                margin-top: 40px;
              }
            }

            &__counter {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 118px;
              height: 25px;
              font-size: 22px;
              line-height: normal;
              margin-top: 100px;

              span {
                color: var(--text-color-32);
              }
            }
          }
        }

        & .right-container {
          position: relative;
          display: flex;

          &__img-wrapper {
            width: 757px;
            height: 1000px;
          }
        }
      }
    }
  }
}
