@import "./responsive";

@mixin hideChildElements($firstChild, $lastChild) {
  @for $i from $firstChild through $lastChild {
    &:nth-of-type(#{$i}) {
      display: none;
    }
  }
}

@mixin visually-hidden {
  position: relative;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin arrow-position {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 12px;
  transform: translate(-50%, -50%) rotateX(180deg);
  @content;
}

@mixin text-opacity-8 {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-80);
  @content;
}

@mixin transition-standart {
  transition: 250ms ease-in-out;
  @content;
}

@mixin btn-state-changes(
  $bg-default: var(--button-light-color-default),
  $bg-hover: var(--button-light-color-hover),
  $bg-active: var(--button-light-color-active),
  $bg-disabled: var(--button-light-color-disabled),
  $text-default: var(--text-color-100),
  $svg: no
) {
  @include transition-standart() {
    @if $svg == yes {
      color: $bg-default;

      &:hover {
        color: $bg-hover;
      }

      &:active {
        color: $bg-active;
      }

      &:disabled {
        color: $bg-disabled;
        opacity: 0.2;
      }
    } @else {
      background: $bg-default;

      &:hover {
        background: $bg-hover;
      }

      &:active {
        background: $bg-active;
      }

      &:disabled {
        background: $bg-disabled;
        opacity: 0.2;
        color: $text-default;
      }
    }
    @content;
  }
}

@mixin popper-positions($start: yes, $touch: no, $size: xl,$hero_rooms:no,) {
  $x: 0;
  $y: 150px;

  @if $size == lg {
    $y: 125px;
  } @else if $size == md {
    $y: 100px;
  }

  @if $touch == yes {
    $y: 140px;
    @if $size == lg {
      $y: 120px;
    } @else if $size == md {
      $y: 100px;
    }
  }

  @if $start == no {
    $x: -368.5px;
    @if $size == lg {
      $x: -368.5px;
    } @else if $size == md {
      $x: -305.5px;
    }

    @if $touch == yes {
      $x: -314.5px;
      @if $size == lg {
        $x: -294.5px;
      } @else if $size == md {
        $x: -199.5px;
      }
    }
    @if $hero_rooms == yes {
      @if $size == lg {
        $x: -242.5px;
      } @else if $size == md {
        $x: -242px;
      }
    }
  }
  transform: translate($x, $y) !important;

  @content;
}

@mixin circle-room-radius($size: xl) {
  $width: 1443px;

  @if $size == lg {
    $width: 913px;
  } @else if ($size == md) {
    $width: 738px;
  } @else if ($size == sm) {
    $width: 284px;
  }

  $circle-height: calc(($width / 2) + 2px);
  width: $width;
  height: $circle-height;
  border-top-left-radius: $circle-height;
  border-top-right-radius: $circle-height;
  @content;
}
