$bg-img-1920: "/rooms-hero-desktop1920.webp";
$bg-img-1440: "/rooms-hero-desktop1440.webp";
$bg-img-tablet: "/rooms-hero-tablet.webp";
$bg-img-mobile: "/rooms-hero-mobile.webp";

.hero__rooms {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  @include lg {
    max-width: 1440px;
  }

  @include md {
    max-width: 1024px;
  }

  @include ms {
    max-width: 768px;
  }

  @include sm {
    position: relative;
    margin-top: -85px;
    max-width: 375px;
  }

  .touch__container--icon-wave--wrapper {
    height: 200px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 16%;
    left: 0;
  }

  &--carousel {
    position: relative;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 2s ease-in-out;
    padding: 99px 0;

    @include lg {
      height: 675px;
    }

    @include md {
      height: 650px;
    }

    @include sm {
      height: 470px;
    }
  }

  .carousel__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 18px;

    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      @include sm {
        width: 14px;
        height: 14px;
      }

      &.active {
        background: var(--secondary-color-100);
        border-radius: 50%;
      }
    }
  }
  &--title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 347px;

    @include lg {
      gap: 159px;
    }

    @include md {
    }

    @include sm {
      font-size: 12px;
    }

    .title {
      font-family: "Miracle regular", sans-serif;
      font-size: 150px;
      font-style: normal;
      font-weight: 400;
      line-height: 130px;
      width: 711px;
      color: var(--secondary-color-100);

      @include lg {
        font-size: 125px;
        line-height: 150px;
        width: 702px;
      }

      @include md {
        font-size: 100px;
        line-height: 80px;
        width: 415px;
      }

      @include sm {
        width: 354px;
        font-size: 70px;
        line-height: 60px;
      }
    }
    .description {
      color: var(--secondary-color-100);
      font-size: 26px;
      line-height: normal;
      text-transform: uppercase;
      width: 440px;

      @include lg {
        font-size: 18px;
        width: 325px;
      }

      @include md {
        display: none;
      }

      @include sm {
        font-size: 12px;
      }
    }
  }

  &--button {
    .btnPoly {
      @include sm {
        bottom: -60px;
        right: 7px;
      }
    }
    ._datepicker._calendar {
      @include sm {
        width: 375px;
      }
    }
  }

  &--description {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 200px 157px 179px 159px;

    @include lg {
      padding: 150px 118px 114px 118px;
      gap: 70px;
    }

    @include md {
      padding: 150px 145px 45px 20px;
      gap: 50px;
    }

    @include sm {
      position: relative;
      padding: 127px 145px 70px 20px;
      flex-direction: column-reverse;
    }

    .btnSince {
      @include sm {
        position: absolute;
        top: 48%;
      }

      .star {
        @include md {
          width: 25px;
          height: 25px;
        }
      }
      @include md {
        display: flex;
        padding: 0;
        gap: 16px;
        height: 50px;
        width: 175px;
        font-size: 16px;
      }
    }

    .rooms-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include md {
        flex-direction: column;
        gap: 100px;
      }

      @include sm {
        flex-direction: column;
        gap: 150px;
      }

      .room-text {
        width: 757px;
        font-family: Miracle regular, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 120% */
        letter-spacing: 1.5px;
        @include lg {
          width: 690px;
        }

        @include md {
          width: 607px;
          font-size: 40px;
          line-height: 40px; /* 100% */
          letter-spacing: 1.2px;
        }

        @include sm {
          width: 355px;
          font-size: 30px;
          line-height: 30px; /* 100% */
          letter-spacing: 0.9px;
        }
      }

      .descr-room {
        @include text-opacity-8 {
          width: 350px;
          color: var(--white-80);

          @include md {
            width: 100%;
            font-size: 13px;
            line-height: 23px;
            padding-left: 502px;
          }

          @include ms {
            width: 707px;
            padding-left: 362px;
          }

          @include sm {
            width: 293px;
            padding-left: 0;
          }
        }
      }
    }
  }
}
