@font-face {
  font-family: "Helvetica Neue LT 55";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica 55"),
    url(/src/assets/fonts/Helvetica\ Neue\ LT\ Std\ 55\ Roman.otf) format("otf");
}

@font-face {
  font-family: "Miracle regular";
  font-style: normal;
  font-weight: 400;
  src: local("Miracle regular"),
    url(/src/assets/fonts/miracle-regular.woff2) format("woff");
}
