.datepicker {
  position: relative;
}
.datepicker .popperStart {
  transform: translate(0, 150px) !important;
}
.datepicker .popperEnd {
  transform: translate(-368.5px, 150px) !important;
}
.datepicker [class$=dropdown-indicator] {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  z-index: 2;
}
.datepicker [class$=dropdown-indicator]:hover .select-dropdown {
  transform: scale(1.2);
}
.datepicker [class$=dropdown-indicator] .select-dropdown {
  transition: 250ms ease-in-out;
}
.datepicker [class$=dropdown-indicator] .select-dropdown--open {
  transition: 250ms ease-in-out;
  transform: rotateX(180deg) scale(1.2);
}
.datepicker [class$=__month-container] {
  display: flex;
  flex-direction: column;
  width: 310px;
}
.datepicker [class$=__month-container] [class*=__header] {
  background: none;
  border: none;
  padding: 0;
}
.datepicker [class$=__month-container] [class$=__header-custom] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
}
.datepicker [class$=__month-container] [class$=__header-custom] [class$="--current-date"] {
  display: flex;
  align-items: center;
  color: var(--text-color-80);
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.datepicker [class$=__month-container] [class$=__header-custom] [class$=btn-wrapper] {
  display: flex;
  gap: 20px;
}
.datepicker [class$=__month-container] [class$=__header-custom] [class*="--btn"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.datepicker [class$=__month-container] [class$=__header-custom] [class*=decrease-month] {
  transform: rotateY(180deg);
}
.datepicker [class$=__month-container] [class$=__header-custom] [class*=decrease-month]:disabled {
  display: none;
}
.datepicker [class$=__month-container] [class$=__current-month] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.datepicker [class$=__month-container] [class$=__month] {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 0;
}
.datepicker [class$=__month-container] [class$=__week] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.datepicker [class$=__month-container] [class$=__week] [class*=day] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--primary-color-48);
  color: var(--text-color-100);
  text-align: center;
  font-size: 12px;
  line-height: 24px; /* 200% */
  text-transform: uppercase;
}
.datepicker [class$=__month-container] [class$=__week] [class*=day--disabled],
.datepicker [class$=__month-container] [class$=__week] [class*=day--outside-month] {
  border: none;
  color: var(--text-color-48);
}
.datepicker [class$=__month-container] [class$=__week] [class*=day--outside-month] {
  pointer-events: none;
  color: transparent;
  background: transparent;
}
.datepicker [class$=__month-container] [class$=__week] [class*=day--selected] {
  background: var(--primary-color-100) !important;
  color: var(--white-100) !important;
  font-weight: normal !important;
}
.datepicker [class$=__month-container] [class$=__week--selected],
.datepicker [class$=__month-container] [class$=__week--keyboard-selected] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.datepicker [class$=__month-container] [class$=__week--selected] [class*=day],
.datepicker [class$=__month-container] [class$=__week--keyboard-selected] [class*=day] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--primary-color-48);
  color: var(--text-color-100);
  text-align: center;
  font-size: 12px;
  line-height: 24px; /* 200% */
  text-transform: uppercase;
}
.datepicker [class$=__month-container] [class$=__day-names] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.datepicker [class$=__month-container] [class$=__day-name] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--text-color-80);
  width: 36px;
  font-size: 12px;
  line-height: 24px; /* 200% */
  text-transform: uppercase;
}
.datepicker [class*=__time-container] {
  display: flex;
  flex-direction: column;
  width: 247px;
  border: none;
}
.datepicker [class*=__time-container] [class*=__header--time] {
  display: flex;
  width: max-content;
  background: none;
  border: none;
}
.datepicker [class*=__time-container] [class$=-time__header] {
  width: max-content;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
  margin-top: -55px;
  color: var(--text-color-100) !important;
}
.datepicker [class*=__time-container] [class$=__time] {
  display: flex;
  background: none;
  border: none;
}
.datepicker [class*=__time-container] [class$=__time-box] {
  display: flex;
  margin: 0;
  width: 100%;
}
.datepicker [class*=__time-container] [class$=__time-list] {
  display: grid !important;
  gap: 14px;
  grid-template-columns: repeat(3, 73px);
  grid-template-rows: repeat(5, 45px);
  height: min-content !important;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(1) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(2) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(3) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(4) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(5) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(6) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(7) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(8) {
  display: none;
}
.datepicker [class*=__time-container] [class$=__time-list] > li:nth-of-type(24) {
  display: none;
}
.datepicker [class*=__time-container] [class*=__time-list-item] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 45px !important;
  border: 1px solid var(--primary-color-24);
  color: var(--text-color-100);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  text-transform: lowercase;
}
.datepicker [class*=__time-container] [class*=__time-list-item--disabled] {
  border: none;
  background: none !important;
  font-weight: normal !important;
}
.datepicker [class*=__time-container] [class$=__time-list-item--selected] {
  background: var(--primary-color-100) !important;
  color: var(--white-100) !important;
  font-weight: normal !important;
}
.datepicker [class*=__children-container] {
  width: 100%;
  margin: 0;
  padding: 0;
}
.datepicker .calendar {
  display: flex;
  flex-direction: row;
  padding: 70px 60px 30px;
  width: 737px;
  background: var(--white-100);
}
.datepicker .calendar__title {
  display: flex;
  width: 305px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
  color: var(--text-color-100);
  margin-bottom: 20px;
}
.datepicker .calendar__children {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.datepicker .wrapper [class$=__input-container] {
  width: 368.5px;
  height: 150px;
}
.datepicker .wrapper [class$=__input-container] [class$=__close-icon] {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
.datepicker .wrapper [class$=__input-container] [class$=__close-icon]::after {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  background-color: var(--white-80);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='24' height='24' viewBox='0 0 50 50'%0Astyle='fill:%23000000'%3E%3Cpath d='M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center/contain;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='24' height='24' viewBox='0 0 50 50'%0Astyle='fill:%23000000'%3E%3Cpath d='M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center/contain;
  transition: 250ms ease-in-out;
}
.datepicker .wrapper [class$=__input-container] [class$=__close-icon]:hover::after {
  transition: 250ms ease-in-out;
  transform: rotateZ(180deg);
  background-color: var(--primary-color-100);
}
.datepicker .wrapper [class$=__input-container] input {
  width: 100%;
  height: 100%;
  padding: 40px;
  background: none;
  border: none;
  outline: none;
  color: var(--white-100);
  font-size: 16px;
  line-height: 1.25;
}
.datepicker .wrapper [class$=__input-container] input::placeholder {
  color: var(--white-100);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
}
.datepicker .wrapper [class$=__input-container] input[class$=-ignore-onclickoutside] {
  outline: none;
}

[class*=buttons-wrapper] {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
[class*=buttons-wrapper] span {
  width: 100%;
  height: 1px;
  background: var(--primary-color-24);
  margin-top: 24px;
}
[class*=buttons-wrapper] [class$=buttons] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
[class*=buttons-wrapper] [class$=buttons] [class*=__btn-cancel] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 110px;
  height: 26px;
}
[class*=buttons-wrapper] [class$=buttons] [class*=__btn-cancel] p {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  width: min-content;
}
[class*=buttons-wrapper] [class$=buttons] [class*=__btn-cancel] svg {
  transition: 250ms ease-in-out;
}
[class*=buttons-wrapper] [class$=buttons] [class*=__btn-cancel][class*=desktop]:hover svg {
  scale: 1.1;
  transform: rotateZ(180deg);
}
[class*=buttons-wrapper] [class$=buttons] [class*=bottom] {
  transition: 250ms ease-in-out;
  background: var(--primary-color-100);
  color: var(--white-100);
}
[class*=buttons-wrapper] [class$=buttons] [class*=bottom]:hover {
  background: var(--button-dark-color-hover);
}
[class*=buttons-wrapper] [class$=buttons] [class*=bottom]:active {
  background: var(--button-dark-color-active);
}
[class*=buttons-wrapper] [class$=buttons] [class*=bottom]:disabled {
  background: var(--button-light-color-disabled);
  opacity: 0.2;
}
[class*=buttons-wrapper] [class$=buttons] [class*=bottom][class*=desktop] {
  width: 160px;
  height: 70px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
[class*=buttons-wrapper] [class$=buttons] [class*=bottom][class*=mobile] {
  height: 60px;
}/*# sourceMappingURL=DatePicker.module.css.map */