// $icon-path: '~../../../assets/images/mainImages/desktop1920/main-about2-desktop-1920.webp';

.aboutus {
  position: relative;
  display: flex;
  flex-direction: row;

  .line-container {
    content: "";
    position: absolute;
    top: 0;
    left: 35.5%;
    width: 1191px;
    border-top: 1px solid var(--lines-color);

    @include lg {
      left: 36.5%;
      width: 894px;
    }

    @include md {
      width: 623px;
    }

    @include ms {
      width: 468px;
    }

    @include sm {
      width: 228px;
    }
  }

  &__leftwrapper {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221419%22%20height%3D%22714%22%20viewBox%3D%220%200%201419%20714%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M1418%20714C1418%20320.221%201100.79%201%20709.5%201C318.206%201%201%20320.221%201%20714%22%20stroke%3D%22%233F5148%22%2F%3E%0A%3C%2Fsvg%3E");
    //   background-image: url(#{$icon-path});
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: row;
    gap: 162px;
    padding: 150px 115px 300px 0;

    @include lg {
      padding: 124px 51px 250px 0;
      gap: 139px;
    }

    @include md {
      padding: 100px 70px 200px 0;
      gap: 145px;
    }

    @include ms {
      padding: 75px 40px 100px 0;
      gap: 80px;
    }

    @include sm {
      padding: 50px 70px 70px 0;
      flex-direction: column-reverse;
    }

    &--imgwrapper {
      height: 850px;

      @include lg {
        width: 453px;
        height: 635px;
      }

      @include md {
        width: 357px;
        height: 530px;
      }

      @include ms {
        width: 290px;
        height: 430px;
        overflow: hidden;
      }

      @include sm {
        width: 355px;
        height: 355px;
        margin-bottom: 50px;
      }
    }

    &--descr {
      padding-top: 210px;

      @include lg {
        padding-top: 75px;
      }

      @include md {
        padding-top: 50px;
      }

      @include ms {
        padding-top: 62px;
      }
    }

    .aboutus__heading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: "Miracle regular", sans-serif;
      font-size: 150px;
      font-weight: 400;
      line-height: 105px;
      text-transform: uppercase;
      margin-bottom: 196px;

      @include lg {
        width: 405px;
        margin-left: -190px;
        font-size: 125px;
        margin-bottom: 126px;
      }

      @include md {
        width: 324px;
        font-size: 100px;
        margin-left: -322px;
        margin-bottom: 119px;
        line-height: 80px;
      }

      @include ms {
        width: 194px;
        font-size: 60px;
        margin-left: -192px;
        margin-bottom: 59px;
        line-height: 60px;
      }

      @include sm {
        width: 195px;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 0;
        margin-left: 0;
      }

      &--left {
        color: var(--secondary-color-100);
        text-align: left;
        flex: 1;
      }

      &--right {
        text-align: right;
        flex: 1;

        @include sm {
          color: var(--secondary-color-100);
        }
      }
    }

    &--text {
      font-family: "Miracle regular", sans-serif;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 1.5px;
      text-transform: capitalize;
      margin-bottom: 40px;

      @include lg {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 1.08px;
      }
      @include md {
        font-size: 28px;
        letter-spacing: 0.84px;
        margin-bottom: 30px;
      }

      @include ms {
        width: 124px;
        font-size: 22px;
        letter-spacing: 0.84px;
      }
      @include sm {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }

    &--textdescr {
      width: 443px;
      font-size: 18px;
      line-height: 28px;
      color: var(--white-64);

      @include lg {
        width: 400px;
      }
      @include md {
        position: absolute;
        width: 250px;
        font-size: 13px;
        line-height: 23px;
      }

      @include sm {
        position: unset;
        width: 293px;
      }
    }
  }

  &__rightwrapper {
    padding-top: 32px;
    padding-left: 47px;
    border-left: 1px solid var(--lines-color);

    @include lg {
      padding-top: 50px;
      padding-left: 43px;
    }

    @include md {
      padding-top: 33px;
      padding-left: 24px;
    }

    @include ms {
      padding-left: 18px;
    }

    & .label {
      width: 144px;
      height: 147px;

      @include lg {
        width: 115px;
        height: 96px;
      }
      @include md {
        width: 67px;
        height: 67px;
      }
    }

    &--imgwrapper {
      width: 323px;
      height: 486px;
      margin-top: -34px;
      margin-left: 109px;
      margin-bottom: 172px;

      @include lg {
        width: 237px;
        height: 312px;
        margin-top: -24px;
        margin-left: 73px;
      }
      @include md {
        width: 160px;
        height: 212px;
        margin-left: 53px;
        margin-top: -16px;
        margin-bottom: 0;
      }

      @include ms {
        width: 120px;
      }
      @include sm {
        display: none;
      }
    }

    &--btnwrapper {
      margin-left: 187px;

      @include lg {
        margin-left: 67px;
      }

      @include md {
        display: none;
      }

      & .polygon {
        @include lg {
          width: 150px;
          height: 150px;
        }
      }

      & .btnPoly {
        @include lg {
          width: 150px;
          height: 150px;
        }
      }
    }

    .aboutus__btnText {
      position: absolute;
      font-size: 14px;
      line-height: normal;
      color: var(--white-100);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 35px;

      @include lg {
        margin-bottom: 26px;
      }

      &--secondary {
        color: var(--secondary-color-100);
        font-style: italic;
        align-self: flex-start;
        text-align: left;
      }
    }
  }

  .aboutus__mobilecontainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

    .aboutus__mobilewrapper {
      @include sm {
        position: relative;
        padding-top: 20px;
      }

      .label {
        @include sm {
          position: absolute;
          top: 2px;
          right: 12px;
          width: 85px;
          height: 85px;
          transform: rotateZ(90deg);
        }
      }
    }
  }
}
