@import "../utils/responsive";

.footer {
  background-color: var(--white-100);

  &.restaurantPageStyles {
    background-color: var(--primary-color-100);
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid var(--text-color-24);
  gap: 30px;
  color: var(--text-color-100);

  @include md {
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid var(--text-color-20);
  }

  @include sm {
    align-items: center;
    gap: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid var(--text-color-16);
  }

  .footer__list {
    display: flex;
    align-items: start;
    gap: 188px;

    @include md {
      gap: 146px;
    }

    @include ms {
      gap: 70px;
    }

    &--item:not(:last-child) {
      max-width: 285px;
      width: 100%;

      @include md {
        max-width: 231px;
      }
    }

    .title {
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 26px;
      font-weight: 400;

      @include md {
        margin-bottom: 20px;
        font-size: 18px;
      }

      &__prefix {
        color: var(--secondary-color-100);
      }
    }

    .description {
      color: var(--text-color-80);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;

      @include md {
        font-size: 13px;
        line-height: 1.76;
      }

      @include ms {
        font-size: 12px;
        line-height: 1.7;
      }
    }
  }

  .social--list {
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;

    @include md {
      flex-direction: column;
      gap: 16px;
      font-size: 12px;
      line-height: 1.6;
    }
  }

  .wrapper {
    display: flex;
    align-items: end;
    gap: 188px;
    width: 100%;

    @include md {
      gap: 146px;
    }

    @include ms {
      gap: 54px;
    }

    .rights,
    .email--link {
      max-width: 285px;
      width: 100%;

      @include md {
        max-width: 249px;
      }
    }

    .rights {
      color: var(--text-color-32);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
    }

    .email--link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 20px;
      color: var(--text-color-48);
      border: 1px solid var(--primary-color-64);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      text-transform: uppercase;

      @include md {
        padding: 18px 20px;
        font-size: 12px;
        line-height: 1.6;
      }

      @include ms {
        padding: 16px 28px;
      }
    }
  }
}

// ====== RESTAURANT PAGE STYLES ======

.restaurantPageStyles {
  .footer__container {
    color: var(--white-100);
    border-top: 1px solid var(--white-20);

    @include ms {
      border-top: 1px solid var(--white-12);
    }

    .description {
      color: var(--white-100);
    }

    .rights {
      color: var(--white-40);
    }

    .email--link {
      color: var(--white-48);
      border: 1px solid var(--white-64);
    }
  }
}

// =======================================
