@import "../utils/responsive";

.section {
  background-color: var(--white-100);
}

.touch__container {
  position: relative;
  padding-top: 300px;
  padding-bottom: 200px;
  // margin-left: auto;
  // margin-right: auto;
  // background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDMwMSI+PHBhdGggZD0iTTExNTQuMDUgNzAuMjY2N0MxMDg1LjM3IDExLjI5OTEgODk3LjcxMyAtNjQuNjExMSA2OTYuNTgzIDEwMy40ODhDNDQ1LjE3MiAzMTMuNjEyIDEzOS45OTkgNDE0Ljc2MiAtMTMwLjIxNCA5OC40MzM5IiBzdHJva2U9IiNGQ0QwNDMiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  // background-size: 1920px;

  .touchDPForm {
    background: var(--text-color-16);
    backdrop-filter: blur(20px);
  }

  @include lg {
    padding-top: 250px;
    padding-bottom: 150px;
  }

  @include md {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  @include sm {
    padding-top: 100px;
    padding-bottom: 140px;
  }

  &--phone {
    text-decoration: underline;
    text-decoration-color: var(--primary-color-48);
    text-decoration-thickness: 1px;
    text-underline-offset: 18px;
    font-size: 80px;
    line-height: 1;
    color: var(--text-color-100);

    @include lg {
      font-size: 50px;
    }

    @include md {
      font-size: 38px;
    }

    @include sm {
      font-size: 20px;
    }
  }

  &--icon-wave--wrapper {
    position: absolute;
    width: 100%;
    height: 560px;
    top: 26%;
    left: 0;
    z-index: 1;

    @include lg {
      top: 25%;
    }

    @include md {
      top: 18%;
    }

    .icon-wave {
      width: 100%;
      height: 100%;
    }
  }

  .touch__wrapper {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 195px;
    margin-top: 83px;

    @include lg {
      gap: 76px;
      margin-top: 81px;
    }

    @include md {
      gap: 100px;
      margin-top: 52px;
    }

    @include sm {
      justify-content: end;
      gap: 0;
      margin-top: 71px;
    }

    &--title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 38px;

      font-family: "Miracle regular", sans-serif;
      font-size: 300px;
      font-weight: 400;
      line-height: 0.8;
      color: var(--text-color-100);
      text-transform: uppercase;
      z-index: 1;

      @include lg {
        gap: 40px;
        margin-bottom: -76px;
        font-size: 250px;
        line-height: 1;
      }

      @include md {
        gap: 29px;
        font-size: 150px;
      }

      @include sm {
        position: absolute;
        top: 112px;
        left: 0;
        gap: 0;
        font-size: 84px;
      }

      .icon--star {
        width: 150px;
        height: 150px;

        @include lg {
          width: 100px;
          height: 100px;
        }

        @include md {
          width: 70px;
          height: 70px;
        }

        @include sm {
          width: 36px;
          height: 36px;
        }
      }

      .second-title-part {
        position: absolute;
        bottom: -166%;
        right: -75%;
        color: var(--secondary-color-100);

        @include lg {
          bottom: -118%;
          right: -61%;
        }

        @include md {
          bottom: -100%;
          right: -85%;
        }

        @include sm {
          bottom: -84px;
          right: -70px;
        }
      }
    }

    .touch__address--img--wrapper {
      @include sm {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .address--wrapper {
        margin-bottom: 177px;
        max-width: 284px;
        width: 100%;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 1.19;
        color: var(--text-color-100);
        z-index: 1;

        @include lg {
          margin-bottom: 180px;
          max-width: 240px;
          font-size: 18px;
        }

        @include md {
          margin-bottom: 100px;
          max-width: 176px;
        }

        @include sm {
          margin-bottom: 204px;
        }
      }

      .touch__img--wrapper {
        width: 443px;
        height: 443px;

        @include lg {
          width: 335px;
          height: 335px;
        }

        @include md {
          width: 231px;
          height: 231px;
        }

        @include sm {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .touch__form--wrapper {
    margin-top: 262px;

    @include lg {
      margin-top: 245px;
    }

    @include md {
      margin-top: 171px;
    }

    &--title {
      margin-bottom: 50px;
      font-size: 26px;
      font-style: normal;
      line-height: normal;
      color: var(--text-color-100);
      text-transform: uppercase;

      @include md {
        margin-bottom: 30px;
        font-size: 18px;
      }
    }
  }
}
