.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;

  .logo {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .nav--links {
    display: flex;
    align-items: center;
    gap: 70px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;

    .active {
      color: var(--secondary-color-100);
    }
  }

  .phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }

  //   .menu-burger {
  //     padding-top: 10px;
  //     padding-bottom: 10px;
  //     fill: currentColor;
  //   }
}

// .header__container button {
//   color: var(--white-100);
// }

.menu--container {
  position: fixed;
  top: 144px;
  right: 0;
  width: 100vw;
  height: calc(100vh - 144px);
  display: flex;
  flex-direction: column;
  padding: 50px 10px 40px;
  text-transform: uppercase;
  // align-items: center;
  // justify-content: center;
  background-color: var(--primary-color-100);
  pointer-events: none;
  z-index: 1000;
  transform: translate(100%);
  transition: transform 250ms linear;
  //    opacity 250ms linear, visibility 250ms linear,

  &.active {
    pointer-events: initial;
    transform: translate(0);
  }

  .nav--links--mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 119px;
    font-size: 30px;
    line-height: 1;
  }

  .mobile--address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 41px;
    margin-bottom: 40px;

    .phone {
      font-size: 20px;
      line-height: 1;
    }

    .address--link {
      font-size: 18px;
      line-height: normal;
    }
  }

  .social--links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    line-height: 1.66;
  }
}
